

<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"


>
  <div class="card-content">
    <span class="card-title">Створити аккаунт</span>
    <div class="input-field">
      <input
        id="email"
        type="email"
        formControlName="email"
        required
        [ngClass]="{'invalid' : form.get('email')?.invalid && form.get('email')?.touched }"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <span *ngIf="form.get('email')?.errors?.['required']">email не може бути пустим </span>
        <span *ngIf="form.get('email')?.errors?.['email']">Додайте корректний email </span>

      </span>

    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        required
        [ngClass]="{'invalid' : form.get('password')?.invalid && form.get('password')?.touched }"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <span *ngIf="form.get('password')?.errors?.['required']">password не може бути пустим </span>
        <!--        <span *ngIf="form.get('password')?.errors?.['minLength']">Додайте корректний password </span>-->
        <span *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.errors?.['minlength']['requiredLength']" >
          Пароль має бути довше {{form.get('password')?.errors?.['minlength']['requiredLength']}} символів.
          Зараз {{form.get('password')?.errors?.['minlength']['actualLength']}}
        </span>

      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"

    >
      Створити
    </button>
  </div>
</form>





